# Secrets
.env
.env.local
.env.production

# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Assets (if you don't want logo in repo)
# assets/logo.png
__pycache__/
